body {
    background-image: url("{{ url_for('static', filename='images/background.jpg') }}");
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.9);
}

.navbar-brand img {
    margin-right: 10px;
}

#map {
    height: 85vh;
    margin: 10px;
}

.modal-body {
    font-size: 1.1rem;
    text-align: center;
}

canvas {
    margin-top: 10px;
}
