<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raipur Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha384-XodZBjcCChs1e/DFh7xotlfi9jT1dUQ2cGkaMOJ3z72K/tH1JXJ6L/j2an9mGAos" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha384-fUg8oM6qPq2hPpXNcw9zMejvjeNfzAXzF1zIcnVZsv/GJXtwa9O+gmi9dxFAOoD9" crossorigin=""></script>
    <script src="demo.js"></script>
</head>
<body>
    <div id="map" style="height: 100vh;"></div>
    <script>
        moveMapToBerlin(map); // Calling the function from demo.js to initialize the map
    </script>
</body>
</html>
